/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

html {
  font-family: 'Montserrat', sans-serif;
}
/* .featPost {
  height: 583px !important;
} */
a {
  cursor: pointer;
}
.general-padding {
  padding-left: 5rem;
  padding-right: 5rem;
}

body {
  @apply bg-white;
  -webkit-font-smoothing: antialiased;
}
